.shimmer-card{
    background-color: rgb(197, 190, 190);
    width: 200px;
    height: 258px;
    margin: 10px;
    padding: 4px;
    border-radius: 5px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}